[submodule "KeyBindings"]
  path = KeyBindings
  url = git://github.com/ttscoff/KeyBindings.git
  ignore=dirty
[submodule "vim/bundle/raimondi-delimitMate"]
  path = vim/bundle/raimondi-delimitMate
  url = git://github.com/Raimondi/delimitMate
  ignore=dirty
[submodule "vim/bundle/godlygeek-csapprox"]
  path = vim/bundle/godlygeek-csapprox
  url = git://github.com/godlygeek/csapprox.git
  ignore=dirty
[submodule "vim/bundle/vim-scripts-AnsiEsc"]
  path = vim/bundle/vim-scripts-AnsiEsc
  url = git://github.com/vim-scripts/AnsiEsc.vim.git
  ignore=dirty
[submodule "vim/bundle/garbas-vim-showmarks"]
  path = vim/bundle/garbas-vim-showmarks
  url = git://github.com/garbas/vim-showmarks
  ignore=dirty
[submodule "vim/bundle/skwp-vim-ruby-conque"]
  path = vim/bundle/skwp-vim-ruby-conque
  url = git://github.com/skwp/vim-ruby-conque
  ignore=dirty
[submodule "vim/bundle/kogakure-vim-sparkup"]
  path = vim/bundle/kogakure-vim-sparkup
  url = git://github.com/kogakure/vim-sparkup.git
  ignore=dirty
[submodule "vim/bundle/tomtom-tcomment_vim"]
  path = vim/bundle/tomtom-tcomment_vim
  url = git://github.com/tomtom/tcomment_vim.git
  ignore=dirty
[submodule "vim/bundle/nelstrom-vim-markdown-preview"]
  path = vim/bundle/nelstrom-vim-markdown-preview
  url = git://github.com/nelstrom/vim-markdown-preview
  ignore=dirty
[submodule "vim/bundle/scrooloose-nerdtree"]
  path = vim/bundle/scrooloose-nerdtree
  url = git://github.com/scrooloose/nerdtree.git
  ignore=dirty
[submodule "vim/bundle/jistr-vim-nerdtree-tabs"]
  path = vim/bundle/jistr-vim-nerdtree-tabs
  url = git://github.com/jistr/vim-nerdtree-tabs.git
  ignore=dirty
[submodule "vim/bundle/vim-scripts-AutoTag"]
  path = vim/bundle/vim-scripts-AutoTag
  url = git://github.com/vim-scripts/AutoTag.git
  ignore=dirty
[submodule "vim/bundle/vim-scripts-IndexedSearch"]
  path = vim/bundle/vim-scripts-IndexedSearch
  url = git://github.com/vim-scripts/IndexedSearch
  ignore=dirty
[submodule "vim/bundle/scrooloose-syntastic"]
  path = vim/bundle/scrooloose-syntastic
  url = git://github.com/scrooloose/syntastic.git
  ignore=dirty
[submodule "vim/bundle/Lokaltog-vim-easymotion"]
  path = vim/bundle/Lokaltog-vim-easymotion
  url = git://github.com/Lokaltog/vim-easymotion
  ignore=dirty
[submodule "vim/bundle/sjbach-lusty"]
  path = vim/bundle/sjbach-lusty
  url = git://github.com/sjbach/lusty.git
  ignore=dirty
[submodule "vim/bundle/tjennings-git-grep-vim"]
  path = vim/bundle/tjennings-git-grep-vim
  url = git://github.com/tjennings/git-grep-vim
  ignore=dirty
[submodule "vim/bundle/skwp-greplace"]
  path = vim/bundle/skwp-greplace
  url = git://github.com/skwp/greplace.vim
  ignore=dirty
[submodule "vim/bundle/tpope-vim-repeat"]
  path = vim/bundle/tpope-vim-repeat
  url = git://github.com/tpope/vim-repeat.git
  ignore=dirty
[submodule "vim/bundle/vim-scripts-taglist"]
  path = vim/bundle/vim-scripts-taglist
  url = git://github.com/vim-scripts/taglist.vim.git
  ignore=dirty
[submodule "vim/bundle/tpope-vim-surround"]
  path = vim/bundle/tpope-vim-surround
  url = git://github.com/tpope/vim-surround.git
  ignore=dirty
[submodule "vim/bundle/tpope-vim-rails"]
  path = vim/bundle/tpope-vim-rails
  url = git://github.com/tpope/vim-rails.git
  ignore=dirty
[submodule "vim/bundle/vim-ruby-vim-ruby"]
  path = vim/bundle/vim-ruby-vim-ruby
  url = git://github.com/vim-ruby/vim-ruby.git
  ignore=dirty
[submodule "vim/bundle/ecomba-vim-ruby-refactoring"]
  path = vim/bundle/ecomba-vim-ruby-refactoring
  url = git://github.com/ecomba/vim-ruby-refactoring
  ignore=dirty
[submodule "vim/bundle/vim-scripts-matchit.zip"]
  path = vim/bundle/vim-scripts-matchit.zip
  url = git://github.com/vim-scripts/matchit.zip.git
  ignore=dirty
[submodule "vim/bundle/skwp-vim-indexed-search"]
  path = vim/bundle/skwp-vim-indexed-search
  url = git://github.com/skwp/vim-indexed-search
  ignore=dirty
[submodule "vim/bundle/tpope-vim-endwise"]
  path = vim/bundle/tpope-vim-endwise
  url = git://github.com/tpope/vim-endwise.git
  ignore=dirty
[submodule "vim/bundle/skwp-vim-html-escape"]
  path = vim/bundle/skwp-vim-html-escape
  url = git://github.com/skwp/vim-html-escape
  ignore=dirty
[submodule "vim/bundle/Shougo-neocomplcache"]
  path = vim/bundle/Shougo-neocomplcache
  url = git://github.com/Shougo/neocomplcache.git
  ignore=dirty
[submodule "vim/bundle/skwp-vim-colors-solarized"]
  path = vim/bundle/skwp-vim-colors-solarized
  url = git://github.com/skwp/vim-colors-solarized
  ignore=dirty
[submodule "vim/bundle/rson-vim-conque"]
  path = vim/bundle/rson-vim-conque
  url = git://github.com/rson/vim-conque.git
  ignore=dirty
[submodule "vim/bundle/tpope-vim-pathogen"]
  path = vim/bundle/tpope-vim-pathogen
  url = git://github.com/tpope/vim-pathogen
  ignore=dirty
[submodule "vim/bundle/drewolson-ruby_focused_unit_test_vim"]
  path = vim/bundle/drewolson-ruby_focused_unit_test_vim
  url = git://github.com/drewolson/ruby_focused_unit_test_vim
  ignore=dirty
[submodule "vim/bundle/tpope-vim-fugitive"]
  path = vim/bundle/tpope-vim-fugitive
  url = git://github.com/tpope/vim-fugitive
  ignore=dirty
[submodule "vim/bundle/mikefarmer-snipmate"]
  path = vim/bundle/mikefarmer-snipmate
  url = git://github.com/mikefarmer/snipmate.vim.git
  ignore=dirty
[submodule "vim/snippets"]
  path = vim/snippets
  url = git://github.com/scrooloose/snipmate-snippets.git
  ignore=dirty
[submodule "vim/bundle/skwp-vim-git-grep-rails-partial"]
  path = vim/bundle/skwp-vim-git-grep-rails-partial
  url = git://github.com/skwp/vim-git-grep-rails-partial
  ignore=dirty
[submodule "vim/bundle/tpope-vim-unimpaired"]
  path = vim/bundle/tpope-vim-unimpaired
  url = git://github.com/tpope/vim-unimpaired
  ignore=dirty
[submodule "vim/bundle/tpope-vim-git"]
  path = vim/bundle/tpope-vim-git
  url = git://github.com/tpope/vim-git
  ignore=dirty
[submodule "vim/bundle/vim-scripts-lastpos"]
  path = vim/bundle/vim-scripts-lastpos
  url = git://github.com/vim-scripts/lastpos.vim
  ignore=dirty
[submodule "vim/bundle/sjl-gundo"]
  path = vim/bundle/sjl-gundo
  url = git://github.com/sjl/gundo.vim
  ignore=dirty
[submodule "vim/bundle/vim-scripts-sudo"]
  path = vim/bundle/vim-scripts-sudo
  url = git://github.com/vim-scripts/sudo.vim
  ignore=dirty
[submodule "vim/bundle/mileszs-ack"]
  path = vim/bundle/mileszs-ack
  url = git://github.com/mileszs/ack.vim
  ignore=dirty
[submodule "vim/bundle/mattn-zencoding-vim"]
  path = vim/bundle/mattn-zencoding-vim
  url = git://github.com/mattn/zencoding-vim
  ignore=dirty
[submodule "vim/bundle/nelstrom-vim-textobj-rubyblock"]
  path = vim/bundle/nelstrom-vim-textobj-rubyblock
  url = git://github.com/nelstrom/vim-textobj-rubyblock
  ignore=dirty
[submodule "vim/bundle/kana-vim-textobj-user"]
  path = vim/bundle/kana-vim-textobj-user
  url = git://github.com/kana/vim-textobj-user
  ignore=dirty
[submodule "vim/bundle/austintaylor-vim-indentobject"]
  path = vim/bundle/austintaylor-vim-indentobject
  url = git://github.com/austintaylor/vim-indentobject
  ignore=dirty
[submodule "vim/bundle/jpalardy-vim-slime"]
  path = vim/bundle/jpalardy-vim-slime
  url = git://github.com/jpalardy/vim-slime
  ignore=dirty
[submodule "vim/bundle/vim-scripts-ZoomWin"]
  path = vim/bundle/vim-scripts-ZoomWin
  url = git://github.com/vim-scripts/ZoomWin.git
  ignore=dirty
[submodule "vim/bundle/dterei-VimBookmarking"]
  path = vim/bundle/dterei-VimBookmarking
  url = git://github.com/dterei/VimBookmarking
  ignore=dirty
[submodule "vim/bundle/kana-vim-textobj-datetime"]
  path = vim/bundle/kana-vim-textobj-datetime
  url = git://github.com/kana/vim-textobj-datetime
  ignore=dirty
[submodule "vim/bundle/kana-vim-textobj-entire"]
  path = vim/bundle/kana-vim-textobj-entire
  url = git://github.com/kana/vim-textobj-entire
  ignore=dirty
[submodule "vim/bundle/chrismetcalf-vim-yankring"]
  path = vim/bundle/chrismetcalf-vim-yankring
  url = git://github.com/chrismetcalf/vim-yankring.git
  ignore=dirty
[submodule "vim/bundle/mattn-gist-vim"]
  path = vim/bundle/mattn-gist-vim
  url = git://github.com/mattn/gist-vim
  ignore=dirty
[submodule "vim/bundle/godlygeek-tabular"]
  path = vim/bundle/godlygeek-tabular
  url = git://github.com/godlygeek/tabular
  ignore=dirty
[submodule "vim/bundle/AndrewRadev-splitjoin"]
  path = vim/bundle/AndrewRadev-splitjoin
  url = git://github.com/AndrewRadev/splitjoin.vim
  ignore=dirty
[submodule "vim/bundle/int3-vim-extradite"]
  path = vim/bundle/int3-vim-extradite
  url = git://github.com/int3/vim-extradite
  ignore=dirty
[submodule "vim/bundle/vim-scripts-argtextobj"]
  path = vim/bundle/vim-scripts-argtextobj
  url = git://github.com/vim-scripts/argtextobj.vim
  ignore=dirty
[submodule "vim/bundle/bootleq-vim-textobj-rubysymbol"]
  path = vim/bundle/bootleq-vim-textobj-rubysymbol
  url = git://github.com/bootleq/vim-textobj-rubysymbol
  ignore=dirty
[submodule "vim/bundle/skwp-vim-rspec"]
  path = vim/bundle/skwp-vim-rspec
  url = git://github.com/skwp/vim-rspec
  ignore=dirty
[submodule "vim/bundle/nathanaelkane-vim-indent-guides"]
  path = vim/bundle/nathanaelkane-vim-indent-guides
  url = git://github.com/nathanaelkane/vim-indent-guides
  ignore=dirty
[submodule "vim/bundle/aaronjensen-vim-sass-status"]
  path = vim/bundle/aaronjensen-vim-sass-status
  url = git://github.com/aaronjensen/vim-sass-status
  ignore=dirty
[submodule "vim/bundle/tpope-vim-haml"]
  path = vim/bundle/tpope-vim-haml
  url = git://github.com/tpope/vim-haml
  ignore=dirty
[submodule "vim/bundle/kien-tabman"]
  path = vim/bundle/kien-tabman
  url = git://github.com/kien/tabman.vim
  ignore=dirty
[submodule "vim/bundle/claco-jasmine"]
  path = vim/bundle/claco-jasmine
  url = git://github.com/claco/jasmine.vim
  ignore=dirty
[submodule "vim/bundle/kana-vim-textobj-function"]
  path = vim/bundle/kana-vim-textobj-function
  url = git://github.com/kana/vim-textobj-function
  ignore=dirty
[submodule "vim/bundle/kchmck-vim-coffee-script"]
  path = vim/bundle/kchmck-vim-coffee-script
  url = git://github.com/kchmck/vim-coffee-script
  ignore=dirty
[submodule "vim/bundle/wavded-vim-stylus"]
  path = vim/bundle/wavded-vim-stylus
  url = git://github.com/wavded/vim-stylus
  ignore=dirty
[submodule "vim/bundle/vim-scripts-Vim-R-plugin"]
  path = vim/bundle/vim-scripts-Vim-R-plugin
  url = git://github.com/vim-scripts/Vim-R-plugin
  ignore=dirty
[submodule "vim/bundle/kien-ctrlp"]
  path = vim/bundle/kien-ctrlp
  url = git://github.com/kien/ctrlp.vim
  ignore=dirty
[submodule "vim/bundle/majutsushi-tagbar"]
  path = vim/bundle/majutsushi-tagbar
  url = git://github.com/majutsushi/tagbar.git
  ignore=dirty
[submodule "vim/bundle/joestelmach-javaScriptLint"]
	path = vim/bundle/joestelmach-javaScriptLint
	url = git://github.com/joestelmach/javaScriptLint.vim
[submodule "vim/bundle/vim-pman"]
	path = vim/bundle/vim-pman
	url = git://github.com/berkes/vim-pman.git
[submodule "php/php-cs-fixer"]
	path = php/php-cs-fixer
	url = git://github.com/fabpot/PHP-CS-Fixer.git
