<VirtualHost *:80>
    ServerAdmin hello@renoirboulanger.com

    VirtualDocumentRoot /home/renoirb/workspace/%1/%2/web
    <Directory />
       Options Indexes FollowSymLinks MultiViews
       AllowOverride All
       DirectoryIndex app_dev.php app.php index.php index.html
       #              -----------\
       #                          -> In prod, remove app_dev.php
       <IfModule rewrite_module>
          RewriteEngine On
          RewriteCond %{REQUEST_FILENAME} !-f
          RewriteCond %{REQUEST_FILENAME} !-d
          RewriteRule ^ app_dev.php [L]
          #             -----------\
          #                         -> In prod, replace to app.php
       </IfModule>
    </Directory>
    <IfModule mpm_itk_module>
          AssignUserId renoirb users
    </IfModule>
    LogLevel debug
    #        ------\
    #               -> In prod, you may put crit, error


    ErrorLog ${APACHE_LOG_DIR}/error.log

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>
